@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype"),
}
html {
  font-family: "ProximaNova", sans-serif;
}

.btn-light{
  border: 1px solid #ccc;
}
.btn-light2{
  border: 1px solid #ccc;
    padding: 1px 5px;
    border-radius: 2px;
    margin-left: 10px;
}